<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        ...
    </head>
    <body>
        <div class="container" th:fragment="content">
            <div class="bs-example">
                
                
                
                <div class="mainPanel">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">O nás</h3>
                        </div>
                        <div class="panel-body">
                                
                            
                                
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
                
                <div class="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Kalendář</h3>
                        </div>
                        <div class="panel-body">
                            <div id="datetime">
                                <script type="text/javascript">
                                    $('#datetime').datepicker({
                                        todayBtn: true,
                                        weekStart: 1,
                                        todayHighlight: true
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            
        </div>
    </body>
</html>
