<!DOCTYPE html>
<html>
    <head>
        <title>Kosmetický salón</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
        <script th:src="@{/resources/js/jquery.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    
    <!--
    <body>
        
            <div class="container" th:fragment="content">
            <p>Homepage test</p>
        </div>
        
        <div class="container" th:fragment="content">
            <div class="page-header">
                <h1>Kosmetický salón <small>úvodní stránka</small></h1>
            </div>
            
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation">
                    <a th:href="@{/}">Úvod</a>
                </li>
                <li role="presentation">
                    <a th:href="@{/rezervace}">Rezervace</a>
                </li>
                <li role="presentation">
                    <a th:href="@{/registrace}">Registrace</a>
                </li>
                <li role="presentation">
                    <a th:href="@{/administrace}">Administrace</a>
                </li>
                
            </ul>
            
        </div>
    </body>
    -->
    
    <body>
        <div class="container" th:fragment="content">
            <nav role="navigation" class="navbar navbar-default navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/}" class="navbar-brand">Úvod</a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/reservation}">Rezervace</a></li>
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                        <li><a th:href="@{/administration}">Administrace</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Nepřihlášen</a></li>
                        <!--
                        <li><a href="#">Jana Nováková</a></li>
                        -->
                         <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Přihlášení<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu" style="padding: 10px;">
                                
                                <div th:if="${param.invalid}" class="alert alert-danger">Chybné přihlašovací údaje</div>
                                <div th:if="${param.out}" class="alert alert-success">Odhlášení proběhlo úspěšně</div>
                                <div th:if="${param.time}" class="alert alert-info">Byl jste odhlášen z důvodu nečinnosti</div>
                                
                                <form role="form" th:action="@{/admin/logging}" method="POST">
                                                 <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input type="email" class="form-control" placeholder="Email" id="email" name="username" />
                                                        <label for="password">Heslo</label>
                                                        <input type="password" class="form-control" placeholder="Heslo" id="password" name="password" />
                                                        
                                                </div>
                                           <button type="submit" class="btn btn-default">Přihlásit</button>
                                           
                                           <a th:href="@{/registration}">Registrovat</a>
                                </form>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div class="banner">
                <img src="resources/img/banner.jpg" alt="banner"  />
            </div>
            
            
        
        
            <div class="bs-example">
                
                
                
                <div class="mainPanel">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Registrace</h3>
                        </div>
                        <div class="panel-body">
                                
                            
                                
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
                
                <div class="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Kalendář</h3>
                        </div>
                        <div class="panel-body">
                            <div id="datetime">
                                <script type="text/javascript">
                                    $('#datetime').datepicker({
                                        todayBtn: true,
                                        weekStart: 1,
                                        todayHighlight: true
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

