<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kosmetický salón</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/bootstrap-theme.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/datepicker3.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/clockpicker.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/styles.css}" rel="stylesheet" />

        <script th:src="@{/resources/js/jquery.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
        <script th:src="@{/resources/js/clockpicker.js}"></script>

    </head>
    <body>
        <div class="container">

            <nav role="navigation" class="navbar navbar-default navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/}" class="navbar-brand">Úvod</a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/hostReservation}">Rezervace</a></li>
                        <li><a th:href="@{/about}">O nás</a></li>
                        <li><a th:href="@{/contact}">Kontakty</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${#authorization.expression('isAuthenticated()')}"><p class="navbar-text" sec:authentication="name"></p></li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="#" th:href="@{/logout}">Odhlásit</a></li>
                        <li th:if="not ${#authorization.expression('isAuthenticated()')}" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Přihlášení<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu" style="padding: 10px;">

                                <form action="#" th:action="@{/logging}" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" placeholder="Email" id="email" name="username" />
                                        <label for="password">Heslo</label>
                                        <input type="password" class="form-control" placeholder="Heslo" id="password" name="password" />
                                    </div>

                                    <button type="submit" class="btn btn-default">Přihlásit</button>

                                    <br />

                                    <a th:href="@{/registration}">Registrovat</a>
                                </form>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="banner">
                <img src="#" th:src="@{/resources/img/banner.jpg}" alt="banner" />
            </div>

            <div th:if="${flashMessage != null}" class="alert alert-success" th:text="${flashMessage}">Text</div>

            <div th:if="${param.invalid}" class="alert alert-danger">Chybné přihlašovací údaje</div>
            <div th:if="${param.success}" class="alert alert-success">Přihlášení proběhlo úspěšně</div>
            <div th:if="${param.out}" class="alert alert-success">Odhlášení proběhlo úspěšně</div>
            <div th:if="${param.time}" class="alert alert-info">Byl jste odhlášen z důvodu nečinnosti</div>

            <div th:replace="${view} :: content">Page Content</div>

        </div>
    </body>
</html>