<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        ...
    </head>
    <body>
        <div class="container" th:fragment="content">

            <div class="bs-example">
                
                
                
                <div class="mainPanel">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Rezervace</h3>
                        </div>
                        <div class="panel-body">
                                
                            <form>
                                
                                <div class="btn-group">
                                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Pověřená osoba <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Nováková</a></li>
                                        <li><a href="#">Nová</a></li>
                                        <li><a href="#">Zelená</a></li>
                                        <li><a href="#">Mladá</a></li>
                                        <li><a href="#">Kramná</a></li>
                                    </ul>
                                </div>
                                
                                
                                <!--
                                
                                <div class="btn-group">
                                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Typ služby<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Nehtová modeláž</a></li>
                                        <li><a href="#">Čištění pleti</a></li>
                                        <li><a href="#">Manikůra</a></li>
                                    </ul>
                                </div>
                                -->
                                
                            </form>    
                            
                            <br />
                            
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2" >Čištění pleti ultrazvukem</th>
                                        <th class="col-sm-2" >Masáž obličeje</th>
                                        <th class="col-sm-2" >Úprava a barvení obočí</th>
                                        <th class="col-sm-2" >Barvení řas</th>
                                        <th class="col-sm-2" >Nehtová modeláž</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">9:00 - 10:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nováková</a></li>
                                                    <li><a href="#">Zelená</a></li>
                                                </ul>
                                            </div>   
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">10:00 - 10:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nová</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:00 - 12:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zelená</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">10:00 - 10:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Mladá</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">13:00 - 15:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nová</a></li>
                                                    <li><a href="#">Kramná</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>  
                                    
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">10:00 - 11:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nováková</a></li>
                                                    
                                                </ul>
                                            </div>   
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">10:30 - 11:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nová</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:30 - 13:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zelená</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">10:30 - 11:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Mladá</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle btn-sm myBtnTime">15:00 - 17:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zrušit rezervaci</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:00 - 13:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nováková</a></li>
                                                    
                                                </ul>
                                            </div>   
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:00 - 12:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nová</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">13:00 - 13:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zelená</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:00 - 12:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Mladá</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">17:00 - 19:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nová</a></li>
                                                    <li><a href="#">Kramná</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">13:00 - 14:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nováková</a></li>
                                                    
                                                </ul>
                                            </div>   
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:30 - 13:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Nová</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">13:30 - 14:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zelená</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">12:30 - 13:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Mladá</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle btn-sm myBtnTime">14:00 - 15:00 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zrušit rezervaci</a></li>
                                                    
                                                </ul>
                                            </div>   
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">14:00 - 14:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Zelená</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm myBtnTime">13:00 - 13:30 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Mladá</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                                
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
                
                <div class="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Kalendář</h3>
                        </div>
                        <div class="panel-body">
                            <div id="datetime">
                                <script type="text/javascript">
                                    $('#datetime').datepicker({
                                        todayBtn: true,
                                        weekStart: 1,
                                        todayHighlight: true
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
