<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        ...
    </head>
    <body>
        <div class="container" th:fragment="content">

            <div class="bs-example">
                
                
                
                <div class="mainPanel">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Správa termínů</h3>
                        </div>
                        <div class="panel-body">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a th:href="@{/admin/term}" role="button" class="btn btn-primary">Přehled rezervací</a>
                                    <a th:href="@{/admin/termList}" role="button" class="btn btn-primary">Přehled termínů</a>
                                    <a th:href="@{/admin/termCreate}" role="button" class="btn btn-primary">Tvorba termínů</a>
                                    
                                </div>

                            </div>
                            
                            <br />
                            <br />
                            
                            <div>
                                <label>Pracovník: </label>
                                <select name = "worker1">
                                    <option value = "1">Nováková</option>
                                    <option value = "2">Zelená</option>
                                    <option value = "3">Nová</option>
                                    <option value = "4">Mladá</option>
                                    <option value = "5">Kramná</option>
                                </select>
                                
                                <a class="btn btn-info btn-sm">Filtrovat</a>
                            </div>
                            
                            <br />
                            <br />
                            
                            <table class="table table-bordered">
                                <thead>
                                     <tr>
                                        <th class="col-sm-1" >#</th>
                                        <th class="col-sm-1" >Od</th>
                                        <th class="col-sm-1" >Do</th>
                                        <th class="col-sm-1" >Zaměstnanec</th>
                                        <th class="col-sm-1" >Služba</th>
                                        <th class="col-sm-1" >Upravit/Smazat</th>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td>1</td>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Zelená</td>
                                        <td>Barvení řas</td>
                                        <td>
                                        <a href="#"  class="btn btn-info btn-sm">Upravit</a>
                                        &nbsp;
                                        <a href="#"  class="btn btn-danger btn-sm" onclick="return confirm('Opravdu chcete smazat termín?')">Smazat</a>
                                    </td>
                                        
                                    </tr>
                                    
                                    <!--
                                    <tr th:each="term : ${term}">
                                        <td th:text="${term.id}">#</td>
                                        <td th:text="${term.from}">Od</td>
                                        <td th:text="${term.to}">Do</td>
                                        <td th:text="${term.worker}">Zaměstnanec</td>
                                        <td th:text="${term.service}">Služba</td>
                                        <td>
                                        <a href="#" th:href="" class="btn btn-info btn-sm">Upravit</a>
                                        &nbsp;
                                        <a href="#" th:href="" class="btn btn-danger btn-sm" onclick="return confirm('Opravdu chcete smazat termín?')">Smazat</a>
                                    </td>
                                        
                                    </tr>
                                    -->
                                </thead>
                            </table>
                            
                            
                        </div>
                    </div>
                </div>
                
                <div class="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Kalendář</h3>
                        </div>
                        <div class="panel-body">
                            <div id="datetime">
                                <script type="text/javascript">
                                    $('#datetime').datepicker({
                                        todayBtn: true,
                                        weekStart: 1,
                                        todayHighlight: true
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
</html>
