<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        ...
    </head>
    <body>
        <div class="container" th:fragment="content">

            <div class="bs-example">
                
                
                
                <div class="mainPanel">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Správa termínů</h3>
                        </div>
                        <div class="panel-body">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a th:href="@{/admin/term}" role="button" class="btn btn-primary">Přehled rezervací</a>
                                    <a th:href="@{/admin/termEdit}" role="button" class="btn btn-primary">Editace termínů</a>
                                    <a th:href="@{/admin/termCreate}" role="button" class="btn btn-primary">Tvorba termínů</a>
                                    
                                </div>

                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                
                <div class="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Kalendář</h3>
                        </div>
                        <div class="panel-body">
                            <div id="datetime">
                                <script type="text/javascript">
                                    $('#datetime').datepicker({
                                        todayBtn: true,
                                        weekStart: 1,
                                        todayHighlight: true
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
</html>
