<!DOCTYPE html>
<html>
    <head>
        ...
    </head>
    <body>
        <!--
        <div th:fragment="content">
            <h1>Správa uživatelů</h1>

            <a href="#" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Nový uživatel</a>
            <br />
            <br />

            <table class="table table-condensed table-hover table-bordered">
                <tr>
                    <th>#</th>
                    <th>E-mail</th>
                    <th>Akce</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">#</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td><a href="#" class="btn btn-info btn-sm">Upravit</a>&nbsp;<a href="#" class="btn btn-danger btn-sm">Smazat</a></td>
                </tr>
            </table>
        </div>
        -->
        
        <div class="container" th:fragment="content">

            <div class="bs-example">
                <div class="mainPanel">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Správa uživatelů</h3>
                        </div>
                        <div class="panel-body">
                            
                            <a href="#" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Nový uživatel</a>
                            <br />
                            <br />

                            <table class="table table-condensed table-hover table-bordered">
                                <tr>
                                    <th>#</th>
                                    <th>E-mail</th>
                                    <th>Akce</th>
                                </tr>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}">#</td>
                                    <td th:text="${user.email}">E-mail</td>
                                    <td><a href="#" class="btn btn-info btn-sm">Upravit</a>&nbsp;<a href="#" class="btn btn-danger btn-sm">Smazat</a></td>
                                </tr>
                            </table>
                                
                        </div>
                    </div>
                </div>
                
                <div class="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title">Kalendář</h3>
                        </div>
                        <div class="panel-body">
                            <div id="datetime">
                                <script type="text/javascript">
                                    $('#datetime').datepicker({
                                        todayBtn: true,
                                        weekStart: 1,
                                        todayHighlight: true
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>